<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cocktail</title>
    <style>
        .body { background-color: darkred;
        padding: 100px;
        color: white;
    height: 800px;
width:80%}
        
        .searcharea,h1 {
            text-align: center;
            padding:25px;
        }
        .line{
            border: 100px;
            border-color: black;
            width: 100%;
            height: 10px;
        }
        .image{height: 400px;}
        .product{
            float: left;
            width: 200px;
            border: 10px;
        border-color: black;}
        .list{ 
            float: left;
        }
       

    </style>
</head>

<body class='body'>
 <div class='container'>
     <h2><%= data.strDrink %></h2>
<div class='row'>
<div class='col-sm-6'>
    <img class="image"src="<%= data.strDrinkThumb %>" alt="<%= data.strDrink %>">
</div>
<div class='col-sm-6'>
    <h3>Instructions</h3>
    <span><%= data.strInstructions %></span>
    <h3>Glass</h3>
    <span><%= data.strGlass %></span>
</div>

</div>
 </div>


</body>
</html>